  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc;
    color: #333;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .header-top {
    background: linear-gradient(90deg, #32263d, #3e412d);
    color: white;
    padding: 3rem 0;
    text-align: center;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  .section {
    padding: 3rem 0;
  }

  .section-light {
    background-color: #f8f8f0;
  }

  .section-title {
    width: 1000px;
    font-size: 2rem;
      font-weight: 600;
    color: #24291e;
      margin: 0 auto 1rem;
  }
  .section-title3 {
    width: 1000px;
    font-size: 1.5rem;
      font-weight: 500;
    color: #24291e;
      margin: 0 auto 1rem;
  }

  .section-text {
    width: 1000px;
      font-size: 1rem;
    line-height: 1.6;
    color: #191913;
      margin: 0 auto 1.5rem;
  }


  .image-container {
    width: 1000px;
    display: flex;
      justify-content: center;
      margin: 0 auto 2rem;
  }
  .image-container-small {
    width: 600px;
    display: flex;
      justify-content: center;
      margin: 0 auto 2rem;
  }

  .image {
    max-width: 100%;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .playground {
    background: linear-gradient(90deg, #382d48, #582897);
    color: white;
    padding: 4rem 0;
    text-align: center;
  }


  @media (max-width: 768px) {
    .title {
      font-size: 2.5rem;
    }

    .subtitle {
      font-size: 1rem;
    }

    .section-title {
      font-size: 1.5rem;
    }

    .image {
      width: 80%;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 2rem;
    }

    .subtitle {
      font-size: 0.875rem;
    }

    .section-title {
      font-size: 1.25rem;
    }

    .image {
      width: 100%;
    }
  }

  .slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
    margin-left: 1rem;
}

  .buttonscontainer {
  display: flex;
  flex-direction: row;
  align-items: normal;
  gap: 70px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  width: 150px; /* Adjust width as needed */
  text-align: right;
  color: black;
}

input[type="range"] {
  flex: 1;
}

.reset-button {
    background-color: #cecb7e;
    color: #000000;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    transition: background-color 0.3s;
  }

  .reset-button:hover {
    background-color: #97994d;
  }
  .controls {
    width: 1000px;
    margin: 0 auto
  }

  .slider {
    margin: 10px 0;
  }

  .visualization {
    margin-top: 20px;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
.env-container {
    position: relative;
    left: 4px;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    }

  .canvas-container {
    position: absolute;
    top: 50px;
    left: 77px;
    width: 352px;
    height: 352px;
    z-index: 2; /* Ensure the canvas is above the image */
    pointer-events: none; /* Prevent accidental interaction with the container itself */
    border: 1px solid #ccc;
  }

  .mean-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #585858;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    pointer-events: auto;
  }

  .mean-circle.highlight {
    background: #5f1616;
  }

  .variance-circle {
    position: absolute;
    border: 4px solid #585858;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    pointer-events: auto;
  }

  .variance-circle.highlight {
    background: #5f1616;
    opacity: 0.5;
  }

  .controls {
    margin-top: 10px;
  }

  button {
    margin: 5px;
  }

  button:hover {
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .collapsible-header {
    margin: 0;
    font-size: 14px;
    padding: 0.5em;
    border: 1px solid rgb(100,120,140);
    border-radius: 2px;
    background: rgb(244, 244, 244);
    transition: border-radius 0.5s step-end;
  }
  .collapsible-body {
    margin: 0;
    font-size: 12px;
    padding: 0.5em;
    border-left: 1px solid rgb(100,120,140);
    border-radius: 2px;
    background: rgb(244, 244, 244);
    transition: border-radius 0.5s step-end;
  }



  .pg-top-back{
    height: 75px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .pg-back{
    height:900px;
    background-color: #cfe1e5;
  }

  .pg-views {
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
    position: relative;
  }

  .pg-container {
    border: solid;
    top:50px;
    left:0;
    width: 1000px;
    height: 900px;
    display: flex;
    margin: 0 auto 2rem;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
  }

  .pg-top {
    border: solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

  .pg-side {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 225px;
    height:800px;
  }
  .pg-vis {
    position: absolute;
    top: 75px;
    left: 225px;
    width: 775px;
    height:775px;
  }
  .pg-bottom {
    position: absolute;
    top: 850px;
    left: 225px;
    width: 775px;
    height:50px;
  }

  .pg-progress{
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pg-reset{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #a76295;
    margin-left:20px
  }

  .pg-play{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #a76295;
  }

  .pg-loss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:360px
  }
  .pg-iterations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
  }

  .pg-2dplot {
    border:solid;
    width: 300px;
    top: 100px;
    left: 5px;
    position: absolute;
    z-index: 1;
  }
  .pg-circles-container {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 264px;
    height: 264px;
    z-index: 2; /* Ensure the canvas is above the image */
    pointer-events: none; /* Prevent accidental interaction with the container itself */
    border: 1px solid #ccc;
  }
  .pg-3dplot {
    width: 600px;
    top: 200px;
    left: 350px;
    position: absolute;
    border: solid;
  }







